body {
  background-image:url("img/grey-apple-fabric-fiber-wallpaper-preview.jpg");
  margin: 0;
  font-family:'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

